<div class="container bg-light">
  <div class="herowrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="h1modified">
          <br />
          Any Wallet.
          <br />
          Any Dapp.
          <br />
          Any Chain.
        </h1>
        <strong
          ><p>
            WalletConnect is the web3 standard to connect blockchain wallets to
            dapps.
          </p></strong
        >
      </div>
      <div class="col-md-12">
        <img
          class="img-fluid"
          src="/assets/images/illustration.png"
          alt="WalletConnect illustration"
        />
      </div>
    </div>
  </div>
  <div class="container bg-white mt-4 pt-4">
    <div class="row">
      <div class="col-md-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="#2b6cb0"
          class="bi bi-check-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
          />
        </svg>
        <h6>Protocol</h6>
        <p>
          WalletConnect is not an app, but an open protocol to communicate
          securely between Wallets and Dapps (Web3 Apps).
        </p>
      </div>
      <div class="col-md-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="#2b6cb0"
          class="bi bi-check-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
          />
        </svg>
        <h6>Secure Encryption</h6>
        <p>
          The protocol establishes a remote connection between two apps and/or
          devices. These payloads are symmetrically encrypted through a shared
          key between the two peers.
        </p>
      </div>
      <div class="col-md-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="#2b6cb0"
          class="bi bi-check-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
          />
        </svg>
        <h6>QR Codes & Deep Links</h6>
        <p>
          The connection is initiated by one peer displaying a QR Code or deep
          link with a standard WalletConnect URI and is established when the
          counter-party approves this connection request.
        </p>
      </div>
      <div class="col-md-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="#2b6cb0"
          class="bi bi-check-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
          />
        </svg>
        <h6>Push Server</h6>
        <p>
          Also included is an optional Push server to allow native applications
          to notify the user of incoming payloads for established connections.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <img class="banner" src="assets/images/banner.png" alt="walletConnect" />
  </div>
  <div class="wallets">
    <h3>Wallets</h3>
    <p>
      Multiple iOS and Android wallets support the WalletConnect protocol.
      Interaction between mobile apps and mobile browsers are supported via
      mobile deep linking.
    </p>
    <br />
    <div class="all">
      <div
        class="apps btn btn-default btn-lg btn-block"
        (click)="openVerticallyCentered(content)"
      >
        <a><img src="/assets/images/metamask.png" /></a><br />
        MetaMask
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/MEW.png" /></a><br />
        MEW Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/trustwallet.png" /></a><br />
        Trust Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/logo.svg" /></a><br />
        Wallect<br />Connect
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/coinbase.jpg" /></a><br />
        Coinbase Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/atomic.png" /></a><br />
        Atomic Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/binance.png" /></a><br />
        Binance Smart Chain
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/bnb.png" /></a><br />
        BNB
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/polkadot.png" /></a><br />
        Polkadot
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/xrp.png" /></a><br />
        XRP
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/stellar.png" /></a><br />
        Stellar
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/tezos.png" /></a><br />
        Tezos
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/theta.png" /></a><br />
        Theta
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/tron.png" /></a><br />
        Tron
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/cosmos.png" /></a><br />
        Cosmos
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/kava.png" /></a><br />
        Kava
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/filecoin.png" /></a><br />
        Filecoin
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/solana.png" /></a><br />
        Solana
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/ethereum-classic.png" /></a><br />
        Ethereum Classic
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/zilliqa.png" /></a><br />
        Zilliqa
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/elrond.jpg" /></a><br />
        Elrond
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/waves.png" /></a><br />
        Waves
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/icon.png" /></a><br />
        ICON
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/ontology.png" /></a><br />
        Ontology
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/harmony.jpg" /></a><br />
        Harmony
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/parsiq.jpg" /></a><br />
        Parsiq
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/uniswap.png" /></a><br />
        Uniswap
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/pancakeswap.png" /></a><br />
        PancakeSwap
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/coinomi.png" /></a><br />
        Coinomi
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/safepal.png" /></a><br />
        Safepal
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/unstoppable-domain.png" /></a><br />
        Unstoppable Domains
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/tokenpocket.png" /></a><br />
        Token Pocket
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/nem.png" /></a><br />
        NEM Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/btc.png" /></a><br />
        Other Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/nano.png" /></a><br />
        Nano
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/tomo.png" /></a><br />
        Tomo Chain
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/iotex.png" /></a><br />
        IoTex
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/wanchain.png" /></a><br />
        Wanchain
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/kin.png" /></a><br />
        Kin
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/nimiq.png" /></a><br />
        Nimiq
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/aion.png" /></a><br />
        Aion
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/thundertoken.png" /></a><br />
        Thunder Token
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/aeternity.png" /></a><br />
        Aeternity
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/nebulas.png" /></a><br />
        Nebulas
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/fio.png" /></a><br />
        FIO
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/gochain.png" /></a><br />
        GoChain
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/poa.png" /></a><br />
        POA Network
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/callisto.png" /></a><br />
        Callisto
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/bitpay.jpg" /></a><br />
        BitPay
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/aktionariat.png" /></a><br />
        Aktionariat
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/atwallet.png" /></a><br />
        AtWallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/guard.png" /></a><br />
        Guard Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/aave.jpg" /></a><br />
        AAVE
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/exodus.jpg" /></a><br />
        Exodus
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/enjin.jpg" /></a><br />
        Enjin
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/skale.png" /></a><br />
        Skale
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/portis.png" /></a><br />
        Portis
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/trezor.png" /></a><br />
        Trezor
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/squarelink.png" /></a><br />
        Squarelink
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/torus.jpg" /></a><br />
        Torus
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/vechain.jpg" /></a><br />
        VeChain
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/scatter.jpg" /></a><br />
        Scatter Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/math-wallet.png" /></a><br />
        Math Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/fortmatic.png" /></a><br />
        FortMatic
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/digitex.png" /></a><br />
        Digitex
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/ledger.png" /></a><br />
        Ledger
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/defiat.jpg" /></a><br />
        Defiat
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/authereum.png" /></a><br />
        Authereum
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/flare.jpg" /></a><br />
        Flare Wallet
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/zelcore.png" /></a><br />
        Zelcore
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/bitkeep.png" /></a><br />
        BitKeep
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/coin98.png" /></a><br />
        Coin98
      </div>
      <div class="apps btn" (click)="openVerticallyCentered(content)">
        <a><img src="/assets/images/trustvault.png" /></a><br />
        Trust Vault
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Connect Wallet</h4>
      <button
        [hidden]="Autoconnect"
        class="btn btn-primary"
        type="button"
        disabled
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
      <button
        [hidden]="Manualconnect"
        class="btn btn-danger"
        type="submit"
        (click)="connect(); modal.dismiss('Cross click')"
      >
        Connect Manually
      </button>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button> -->
    </div>
    <div class="modal-body">
      <p [hidden]="Autoconnect">
        Please hold while we initiate connection sequeence and encryption
        protocol for your selected wallet&hellip;
      </p>
      <p [hidden]="Manualconnect">
        There seems to be issues connecting your wallect automatically, Please
        connect manually
      </p>
    </div>
    <div class="modal-footer">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
    </div>
  </ng-template>
</div>