/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Open Sans;
  src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
.containerAR {
  font-family: "Open Sans", sans-serif;
  padding-top: 10px;
  margin-top: 5rem;
  width: 100%;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
}
